/* body {
    background-color: azure;
} */

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

/* color the icon */
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

/* making slight dark in color to Option  */
.nav-link {
    color: #222222 !important;  /* to override the bootstrap styling by our custom styling */
}
