body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* boilerplate body container class */
.container {
    flex: 1;
}
 
/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

/* color the icon */
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

/* making slight dark in color to Option  */
.nav-link {
    color: #222222 !important;  /* to override the bootstrap styling by our custom styling */
}

/* footer styling */
/* remove underline from f-info links */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

/* underline occurs when we hover */
.f-info-links a:hover {
    text-decoration: underline;
}


/* set privacy and terms div as full width and set social media icon div as full width*/
.f-info-links, 
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center; 
    /* vertical alignment */
    justify-content: center;
    /* horizontal alignment */
}

/* for individual icons */
.f-info-socials i {
    margin-right: 1rem; /* spacing on right side of individual icon */
    font-size: 1.2rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex; /* to align all the items in same line (horizontally) */
    flex-wrap: wrap; 
    /* Arrange items in a row(horizontal line ), but if they don't fit in row, then move extral overflow item to the nex line*/
    justify-content: center;/* horizontal alignment */
    align-items: space-evenly;/* vertical alignment */
}

/* cards styling */

.listing-card {
    border: none !important; /* importand is used to override the bootstrap styling */
    margin-bottom: 2rem;
}

/* styling the image */
.card-img-top {
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
    /* We use object-fit: cover; when we want all images to fill their box evenly, especially in cards, grids, or galleries — without stretching or leaving blank space. */
}

/* styling the content of image */
.card-body {
    padding: 0 !important;
}

.car-text p {
    font-weight: 400 !important;
}

/* removing the underline of image content */
.listing-link {
    text-decoration: none;
}

/* hover effect on cards(or we can say overlay effect) */
.card-img-overlay:hover {
    opacity: 0.2; 
    background-color: white;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* edit page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* show page*/
.show-img {
    height:30vh;
}

/* show page btns class */
.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}


/* edit page image preview */
.preview-img {
    width: 15rem;       
    border-radius: 1rem; 
    object-fit: cover;
}

/* Map styling  */
#map {
    height: 400px;
    width: 80vh;
}